body{
    background-color:burlywood;
}
 main {
    color:rgb(110, 70, 42);
    padding: 50px;
    margin: 30px;
    border: thick orangered;
}
h1{ height: 30px ;
    
    margin: 10px;
    padding: 5px;
    font-family: fantasy;
    color:orange;
    background-color: floralwhite;
   
    border: solid rgb(226, 131, 43);
    text-align: center;
    
}
p{ margin: 40x;
    padding: 40px;
    color:teal;
}
ul{

    list-style-type: square;
    padding: 40px;
    margin: 1px;;
}
ol{
    list-style-type: upper-latin;
    padding: 40px;
    margin: 1px;
}
